@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-bg-smooth {
  background-size: 400% 400% !important;
  animation: gradient-move 10s linear infinite;
}

.bebas{
  font-family: "Bebas Neue", system-ui;
}
.bitcount{
  font-family: "Bitcount Grid Double", system-ui;
}
.rubik{
  font-family: "Rubik", system-ui;
}
