@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-bg-smooth {
  background-size: 400% 400% !important;
  animation: gradient-move 10s linear infinite;
}
.bebas {
  font-family: "Bebas Neue", system-ui;
}
.lobster {
  font-family: "Lobster", system-ui;
}
.rubik {
  font-family: "Rubik", system-ui;
}

@keyframes text-shift {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}

.animate-text-flow {
  animation: text-shift 2s linear infinite;
  background-size: 200% auto;
}

html {
  scroll-behavior: smooth;
}