@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-bg-smooth {
  /* 400% stretches the gradient, making color changes very gradual */
  background-size: 400% 400% !important;
  /* 15s or 20s makes the movement calm and professional */
  animation: gradient-move 20s ease infinite;
}
